.login_page{
  position: relative;
  background-image: url('login_background.jpg');

  height: calc(100vh - 70px);
}

.login_card{
margin-top: 130px;
margin-left: 50px;
float:left;
width: 400px;
}

.welcome_text{
  font-weight: lighter;
  text-align:center;
  color: white;
}
.company_name{
font-size: 50px;
}

.strip_line{
  font-size: 20px;
  margin-bottom: 30px;
}

.form_element{
  margin-top: 20px;
  margin-bottom: 20px;
}

.special{
  width: 400px;
}
