.login_page{
  display: flex;

  background-color: white;
  height: calc(100vh - 70px);
}

.left_block{
  background-color: blue;
  width: 50%;
}

.right_block{
  background-color: yellow;
  width: 50%;
  display: flex;
  align-items: center;
}


.login_card{
margin-left: auto;
margin-right: auto;
  width: 400px;
}

.welcome_text{
  font-weight: lighter;
  text-align:center;
  color: white;
}
.company_name{
font-size: 50px;
}

.strip_line{
  font-size: 20px;
  margin-bottom: 30px;
}

.form_element{
  margin-top: 20px;
  margin-bottom: 20px;
}

.special{
  width: 400px;
}



// CSS code for New2.html.erb
