.margin-shadow {
  margin: 20px;
  box-shadow: 10px 10px 10px rgb(200, 200, 200);
}
.content {
  display: flex;
  justify-content: space-between;
}

.card-descript {
  text-align: center;
  border: 1px solid white;
  @extend   .margin-shadow;
}
.card-btl {
  @extend   .margin-shadow;
  background-color: #EAEAEA;
}

.first-descript {
  margin: 15px 0;
  color: black;
  font-weight: bold;
}
.btn {
  margin: 15px;
  border-radius: 10%;
}
.second-descript {
  margin-bottom: 10px;
  color: #AAAAAA;
}

.card-btn {
  @extend   .margin-shadow;
  text-align: center;
  padding: 10px;
  width: 200px;
}

.top-bar {
  text-align: center;
  position: relative;
}
.menu {
  position: absolute;
  left: 10px;
  color: #831F40;
}
.pay {
  position: absolute;
  right: 10px;
}
.details {
  font-size: 10px;
}
